.container {
  margin-top: 76px;
  color: var(--color-text);
  margin-left: 10%;
  margin-right: 10%;
}

.title {
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  color: var(--color-primary);
  margin-left: 18px; /* Left margin for larger screens */
  margin-bottom: 50px;
}

.projects {
  margin-top: 37px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  width: 100%;
  animation: fadeIn 1.5s ease-in-out;
}

.projectHeading {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 30px;
  text-align: left; /* Default left alignment for larger screens */
  text-transform: uppercase;
}

.frontendProjects,
.mernStackProjects {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.projectCard {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background: linear-gradient(180deg, #2b3d63 0%, #132a53 100%);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 20px 30px;
  max-width: 360px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.projectCard:hover {
  box-shadow: 0 0 20px 5px rgba(61, 130, 186, 0.7);
  transform: translateY(-5px);
}

.projectCard .image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
}

.projectCard .title {
  font-size: 26px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 15px;
}

.projectCard .description {
  font-size: 18px;
  font-weight: 400;
  color: #dcdcdc;
  margin-bottom: 20px;
}

.skills {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 15px;
}

.skills .skill {
  font-size: 14px;
  font-weight: 500;
  border-radius: 20px;
  background: #3a4f79;
  color: #ffffff;
  padding: 6px 18px;
}

.links {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.links .link {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  border-radius: 25px;
  background: linear-gradient(135deg, #4b6e94, #36537a);
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.links .link:hover {
  background: linear-gradient(135deg, #36537a, #4b6e94);
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

/* Media Query for Small Screens */
@media screen and (max-width: 830px) {
  .title {
    margin-left: 0; /* Remove left margin on small screens */
    text-align: center; /* Center the title on small screens */
  }

  .projectHeading {
    text-align: center; /* Center the project heading on small screens */
  }
}
